/* RESET SETTINGS */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-size: 100%;
}

a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    :hover{
        opacity: 1;
    }
}

ul{
    list-style-type: none;
}